################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RunGroopWebApp/Views/Race/Index.cshtml
